@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moderustic:wght@300..800&family=Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: #f7f9fb;
  overflow: hidden;
}

header {
  height: 8vh;
  background-color: #2c2d31;
  color: #ffffff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markTitle {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.name-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#name-file {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
}

button {
  padding: 0.5rem 1rem;
  background-color: #e06841;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

button:hover {
  background-color: #be4f2a;
  transition: 0.2s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: #15161a;
}

.editor,
.preview {
  height: 100%;
  width: 50vw;
  border: 1px solid;
  overflow: hidden;
  border: 2px solid #2c2d31;
}

.active{
  transition: 0.3s;
  background-color: #272931;
  border-color: #be4f2a;
}

.secondary-title {
  width: 100%;
  height: 5%;
  background-color: #1e1f23;
  padding: 0.5rem;
  color: #b9b9b9;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

#editor-content {
  width: 100%;
  height: 94%;
  padding: 1rem;
  resize: none;
  font-size: 0.9rem;
  color: #adadad;
  background: none;
  border: none;
  outline: none;
  font-family: "Abel", sans-serif;
  letter-spacing: 0.1rem;
}

#preview-content{
  width: 100%;
  height: 94%;
  padding: 1rem;
  color: #ffffff;
  background: none;
  border: none;
  font-family: "Moderustic", sans-serif;
  letter-spacing: 0.1rem;
  word-break: break-word;
  padding-bottom: 2rem;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #15161a;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 3px;
  border: 2px solid #15161a;
}
